@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Itim', cursive;
}
body{
    background: url(../Assets/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup{
    background-color:rgb(76 76 76 / 9%);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.212);

}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
   
    
    
   
}

.form input{
    outline: none;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.212);
   
    

}
.btn{
  background:yellow;  
  outline: none;
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.212);
  
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login a {
    text-decoration: none;
    
}

.btn:hover{
    border: 2px solid white;
    background: rgb(59, 14, 224);
    color: black;
    border: none;

 }